<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>beforeLogin</servlet-name>
        <servlet-class>com.garanci.backend.LoginRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GaranciDefault</servlet-name>
        <servlet-class>com.garanci.backend.Default</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Action</servlet-name>
        <servlet-class>com.garanci.backend.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>com.garanci.backend.controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.garanci.backend.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.garanci.backend.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timerReseter</servlet-name>
        <servlet-class>com.garanci.backend.timerReseter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>com.garanci.backend.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>com.garanci.backend.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchResult</servlet-name>
        <servlet-class>com.garanci.backend.searchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDataForChart</servlet-name>
        <servlet-class>com.garanci.backend.GetDataForChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAnIssueInsert</servlet-name>
        <servlet-class>com.garanci.backend.ReportAnIssueInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getReportData</servlet-name>
        <servlet-class>com.garanci.backend.getReportData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consumer</servlet-name>
        <servlet-class>com.garanci.backend.Consumer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>beforeLogin</servlet-name>
        <url-pattern>/do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GaranciDefault</servlet-name>
        <url-pattern>/default</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>/action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timerReseter</servlet-name>
        <url-pattern>/timerReseter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchResult</servlet-name>
        <url-pattern>/searchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDataForChart</servlet-name>
        <url-pattern>/GetDataForChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAnIssueInsert</servlet-name>
        <url-pattern>/ReportAnIssueInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getReportData</servlet-name>
        <url-pattern>/getReportData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consumer</servlet-name>
        <url-pattern>/Consumer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>url</param-name>
        <!--<param-value>http://localhost:9090/trunk/</param-value>-->
        <param-value>https://www.garanci.com</param-value> <!--Production url-->
        <!--<param-value>http://garanci-aspiring.rhcloud.com</param-value>  Development url-->
        <!--        <param-value>http://garanci-akshayproject.rhcloud.com/</param-value>-->
        <!--Testing url-->
    </context-param>
    <context-param>
        <param-name>key</param-name>
        <param-value>garanci7f2kjj8f4y3</param-value>
    </context-param>
    <context-param>
        <param-name>appId</param-name>
        <param-value>z3o7f2kja8f4y3s6q4e9ilh0m</param-value>
    </context-param>
    <context-param>
        <param-name>email</param-name>
        <param-value>no-reply@garanci.com</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>Warranty77</param-value>
    </context-param>
    <context-param>
        <param-name>path</param-name>
        <!--<param-value>/home/zishan/Downloads/</param-value>-->
        <!--Local path-->
        <param-value>/var/lib/openshift/5450ce4d50044644c2000274/app-root/data/garanci/</param-value>
        <!--Production path-->
        <!--<param-value>/var/lib/openshift/53fa0660500446e7cf000929/app-root/data/garanci/</param-value>  Development path-->
    </context-param>
    <welcome-file-list>
        <welcome-file>detect.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.garanci.backend.NotificationScheduler</listener-class>
    </listener>
    <listener>
        <listener-class>com.garanci.utility.contextListner</listener-class>
    </listener>
</web-app>
